* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: black;
    width: 100vw;
}
div.primeira-div {
    background-color: black;
    width: 100vw
}

header{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: black;
}


.netflix {
    margin-right: 20px;
    height: 40px;
}

.primeira-ul li{
    list-style: none;
    display: inline-block;
    font-size: 7px;
}

.um {
    color: white;
    text-decoration: none;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

section.primeira-sec {
    height: 70vh;
    width: 100vw;
    background-image: linear-gradient(to left bottom, transparent 30%, black 79%), url(imagens/casal.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.segunda-ul{
    position: relative;
    list-style: none;
    display: flex;
}
h1 {
    color: white;
    padding: 15px;
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
}

.verde {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    font-size: 10px;
    font-weight: bold;

}

.ano {
    color: gray;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.HD {
    padding: 2px 2px 1px;
    color: white;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    font-size: 9px;
    margin-left: 5px;
    
}

.HD:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: all 1s;
}

.estrelas {
    position: absolute;
    height: 10px;
    display: inline-block;
    padding-left: 5px;
}



.top {
    display: inline-block;
    background: red;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    padding: 8px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 10px;
}

.tit {
    display: inline-block;
    color: white;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}

.texto {
    color: white;
    width: 50vw;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.assistir {
    display: inline-block;
    margin-top: 30px;
    margin-left: 25px;
    color: black;
    background: white;
    width: 80px;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    border: 0px;
}

.favorito {
    display: inline-block;
    color: rgb(211, 211, 211);
    background: rgb(65, 65, 65);
    margin-left: 10px;
    margin-top: 15px;
    width: 80px;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    border: 1px;
}


.favorito::before {
    content: '\00a0\002714';
    padding-right: 2px;
    font-size: 12px;
}

.assistir:hover{
    cursor: pointer;
}
.favorito:hover{
    cursor: pointer;
}
.segunda-sec{
    background-color: black;
    color: white;
    height: 20vh;
}

h2{ 
    display: block;
    padding: 10px 0px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 10px;
}
.cenas-ul{
    margin-left: 5px;
}
.cenas-ul li{
    display: inline-block;
    list-style-type: none;
    padding-left: 5px;
}
.cenas{
    height: 80px;
}

.terceira-sec{
    background-color: black;
    color: white;
    height: 20vh;
}
.momentos-ul{
    margin-left: 5px;
}
.momentos-ul li{
    display: inline-block;
    list-style-type: none;
    padding-left: 5px;

}
 
.momentos{
    height: 78px;
    
}
.ultima-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}
.footer{
    text-align: center;
    margin: 25px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: white;
}

.neticon{
    height: 40px;
}
.espaço{
    color: black;
}
